name: Release pull request

on:
  push:
    branches:
      - "release/*"

permissions:
  pull-requests: write

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Create pull request
        uses: rematocorp/open-pull-request-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          from-branch: ${{ github.event.ref }}
          to-branch: master
          repository-owner: twpol
          repository: openrails
