name: Release pull request

on:
  push:
    branches:
      - "release/*"

permissions:
  contents: write
  pull-requests: write

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
