name: Release pull request

on:
  push:
    branches:
      - "release/*"

permissions:
  contents: write
  pull-requests: write

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: master

      - name: Git Merge
        run: |
          git fetch origin "${{ github.event.ref }}"
          git merge --no-commit "${{ github.event.ref }}"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
