name: Release pull request

on:
  push:
    branches:
      - "release/*"

permissions:
  pull-requests: write

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Create pull request
        uses: actions/github-script@v8
        with:
          script: |
            const pulls = await github.rest.pulls.list({
              owner: 'twpol',
              repo: 'openrails',
              head: '${{ github.event.ref }}',
              base: 'master',
              state: 'open',
            });
            if (pulls.data.length === 0) {
              await github.rest.pulls.create({
                owner: 'twpol',
                repo: 'openrails',
                head: '${{ github.event.ref }}',
                base: 'master',
              });
            }
