name: Release pull request

on:
  push:
    branches:
      - "release/*"

permissions:
  pull-requests: write

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v8
        with:
          script: |
            github.rest.pulls.create({
              owner: 'twpol',
              repo: 'openrails',
              head: ${{ github.event.ref }},
              base: 'master',
            });
